.fProperties {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fPropertiesItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.fPropertiesImg {
    width: 100%;
}
.fPropertiesName {
    font-weight: bold;
}
.fPropertiesCity {
    font-weight: 300;
}
.fPropertiesPrice {
    font-weight: 500;
}
.fPropertiesRate>button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}
.fPropertiesRate>span {
    font-size: 14px;
}